<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TruthOracle</key>
	<dict>
		<key>NumberOfResponsOptions</key>
		<integer>9</integer>
		<key>QuestionsAmount</key>
		<integer>5</integer>
	</dict>
	<key>Game1</key>
	<dict>
		<key>Answers</key>
		<dict>
			<key>Question1</key>
			<array>
				<integer>0</integer>
				<integer>13</integer>
				<integer>5</integer>
				<integer>11</integer>
				<integer>3</integer>
				<integer>18</integer>
				<integer>2</integer>
				<integer>10</integer>
				<integer>33</integer>
				<integer>15</integer>
			</array>
		</dict>
		<key>Keys</key>
		<dict/>
	</dict>
</dict>
</plist>
